header#main-header {
    height: 80px;
    width: 100%;
    background:#a55eea;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;  
}